/* CSS Attributes ----------------------------------------------------------------------------------- */

/*  
 * Page Background Styling
 */
html {
    background-color: #fc9;
    scroll-behavior: smooth;
}

/* 
 * Setting Margins to 0px
 */
body {
    margin: 0px;
}

/* 
 * Navigation Bar Styling 
 */
nav {
    background-color: rgba(70, 100, 36, 0.712);
    height: 100px;
    width: auto;
    list-style-type: none;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.2);
    justify-content: space-evenly;
}

li a{
    color: burlywood;
    font-size: large;
    float: left;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    margin: 40px;
}

li a:hover {
    width: 60px;
    outline:1px solid white;
    transition: 1.5s;
    border-radius: 25px;
    background: #73AD21;
    height: auto;
    cursor: pointer;
    color:aqua;
}

/* 
 * Page Border
 */
section {
    height: 100vh;
    box-sizing: border-box;
}

/* 
 * Gallery of Trees 
 */
gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

gallery-item {
    position: relative;
    overflow: hidden;
}

gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 
 * Contact Page Style 
 */
footer {
    height: 12vh;
    box-sizing: border-box;
    background: brown;
}


/* CSS CLasses ----------------------------------------------------------------------------------- */

/*
 * Home Page Title
 */

.title {
    font-weight: bold;
    color: black;
    font-size: 60px;
    margin: 50px 100px;
  }

.about {
    text-wrap: wrap; 
    font-size: 20px;
    padding-left: 250px; 
    padding-right: 250px;
}

.sectionTitle {
    font-weight: bold;
    color: black;
    font-size: 40px;
    margin: 50px 100px;
}

